<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Pre-Examen</title>
</head>
<body>
  <center>
  <div id="container">
      <div id="viajes">
        <img id="logotipo" src="./img/logo_oficial.png" alt="">
        <h1><%=Header%></h1>
      </div>
      <br>

<style>
  body{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #cuerpoformula{
    background-color: rgb(180, 180, 180);
    width: 650px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
  }
  #container{
    background-color: rgb(92, 92, 255);
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid rgb(25, 0, 255);
    }
  #viajes{
    background-color: aqua;
    width: 600px;
    display: flex;
    border: 4px solid rgb(25, 0, 255);
        
  }
  #logotipo{
    width: 10%;
    border-radius: 50px;
    padding-left: 10px;
  }
  h1{
    padding-left: 50px;
    margin-top: 10px;  
  }
  b{
    background-color: aqua;
    
  }
  #enca{
    background-color: aqua;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid rgb(25, 0, 255);
  }


</style>

  <div id="cuerpoformula">

    <form>
                
                
      <div id="labels" style="width: 20%; float: left; text-align: justify;">
      <b><label for="">Num boleto </label></b><br><br>
      <b><label for="">Destino </label></b><br><br>
      <b><label for="">Nombre Cliente </label></b><br><br>
      <b><label for="">Años cumplidos </label></b><br><br><br>
      
      <b><label for="">Tipo de viaje </label></b><br><br>
      
      <b><label for="">Precio </label></b><br><br>
     
      </div>
      <div id="imputs" style="width: 30%; ">
          <input type="number" id="numero" name="numero" required><br><br>
          <input type="text" id="destino" name="destino" required><br><br>
          <input type="text" id="nombre" name="nombre" required><br><br>
          <input type="number" id="edad" name="edad" required><br><br>
          <select name="tipoViaje" id="tipoViaje" required>
              <option value="">Seleccionar...</option>
              <option value="1">Sencillo</option>
              <option value="2">Doble</option>
  
          </select><br><br>
          <input type="number" id="precio" name="precio" required>
      </div>
    
      <br><br>
    <center>  
    <button id="btnCalcular" class="btnCalcular">Calcular</button>
    <button id="refresh">Limpiar</button><br><br>
    </center>
  </form>
<br><hr><br>
<div id="labels" style="width: 18%; float: left;  text-align: justify;">
  <b> <label for="">Sub total </label></b> <br><br>
  <b> <label for="">Impuesto 16% </label></b><br><br>
  <b> <label for="">Descuento </label><br></b><br>
  <b> <label for="">Total a pagar </label></b><br><br>
 
  </div>
  <div id="imputs" style="width: 25%; ">
     <br><br> <input type="text" id="subtotal" name="subtotal" readonly><br><br>
      <input type="text" id="impuesto" name="impuesto"  readonly><br><br>
      <input type="text" id="descuento" name="descuento" readonly><br><br>
      <input type="text" id="total" name="total"  readonly><br><br>
  </div>
 
    
  </div>

                         <footer class="formulario__Footer">
                          <br>
                <div id="enca"><b><%=Footer%></b></div>
         </footer>
    </div>

</main>
</center>
</div>

</body>
<script src="./js/main.js"></script>
</html>